body{
    overflow: hidden;
    user-select: none;
}

.wellcomeWindow{
    position: fixed;
    top: 0;
    left:0;
    width: 100svw;
    height: 100svh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wellcomePage 2s ease-in-out 2.5s normal forwards;
    z-index: 0;
    div{
        border-radius:50%;
        background-color:white;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: bounce 0.5s linear infinite alternate;
        .wellcomeLogo {
            font-weight: 900;
            font-size: 2.5rem;
            .letter {
                display: inline-block;
                line-height: 1rem;
            }
        }
    }
}
@keyframes wellcomePage {
    from{
        left:0;
    }
    to{
        left:100vw;
    }
}

@keyframes bounce {
    from{
        width: 14rem;
        height: 14rem;
    }
    to{
        width: 17rem;
        height: 17rem;
    }
}


.mainWindow{
    position: fixed;
    top: 0;
    left:0;
    width: 100svw;
    height: 100svh;
    background-color: white;
    color: black;
    display: flex;
    z-index: -1;
    .navBar{
        padding: 0;
        margin: 0;
        display:flex;
        justify-content:space-between;
        flex-direction:column;
        transition: all 0.5s ease-in-out;
        background-color:white;
        border-color: gray;
        border-right-style: solid;
        .navBarButton{
            position: relative;
            top:0;
            left:0;
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            div{
                margin:0.1rem;
                transition: all 0.5s ease-in-out;
                border-radius:1rem;
                border-color:black;
                border-style:solid;
            }
        }
        .itemsMenu{
            display: flex;
            justify-content: center;
            justify-items: center;
            cursor: pointer;
            .itemsText{
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                overflow: hidden;
                .letter {
                    display: inline-block;
                }
            }
        }
        .menuLogo{
            display: flex;
            justify-content:center;
            align-items:center;
            cursor: pointer;
            .logoText{
                text-transform: uppercase;
                .letter {
                    display: inline-block;
                }
            }
        }
        .copyRight{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .content{
        padding: 0;
        margin: 0;
        width:80%;
        height: 100%;
        background-color:white;
        transition: all 0.5s ease-in-out;
        .mainContant{
            width:100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: top;
            .showcontent{
                position: relative;
                background-color: gray;
                width: 20rem;
                max-height:30rem;
                margin:2rem;
                border-radius:1rem;
                transition:all 0.5s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem;
                    h5{
                        width: 8rem;
                        height: 4rem;
                        background-color: gray;
                        opacity: 80%;
                        border-radius: 1rem;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                    }
                }
                div:hover{
                    backdrop-filter: blur(2px);
                     ~ img{
                        height: 140%;
                        width: 140%;

                    }  
                }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                    transition:all 0.5s ease-in-out;
                }
            }
        }
        .findMore{
            width: 100%;
            height: 20%;
        }
    }
}
@media (max-width: 900px){
    .mainWindow{
        flex-direction:column;
        .navBar{
            flex-direction:row;
            border-right-style: none;
            border-bottom-style: solid;
            .navBarButton{
                flex-direction:row; 
            }
            .menuLogo{
                .logoText{
                    font-size: 90%;
                }
            }
            .itemsMenu{
                display: flex;
                justify-content: center;
                align-items: center;
                .itemsText{
                    letter-spacing: 0.3rem;
                    font-size: 60%;
                }
            }
            .copyRight{
                font-size: 80%;
                display: flex;
                writing-mode: sideways-lr;
                justify-content: center;
                align-items: center;
            }
        }
        .content{
            .mainContant{
                .showcontent{
                    width: 15rem;
                    max-height:20rem;
                    margin:1rem;
                    div{
                        h5{
                            width: 6rem;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}
